@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background-color: rgb(164, 183, 223);
  margin: 10px;
}
h1, h2 {
  font-family: "Pacifico", Arial, sans-serif;
  padding: 10px
}
li, p {
  font-family: "Pacifico", Verdana, sans-serif;
}
ul {
  padding-bottom: 10px;
}
nav {
  background-color: white;
}
header h1 {
  text-align: center;
}

h2 {
  border-bottom: 2px outset;
  color: rgb(8, 103, 192);
}
footer p {
  text-align: center;
}
img {
  max-width: 100%;
  max-height: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 5px black;
}
footer a {
  color: rgb(8, 20, 126);
}