#font1 {
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
}

#font2 {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
nav li {
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
}

p, li{
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

nav,
footer,
nav li a,
nav li {
    background-color: #7ccc5d;
    color: black;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}

nav a:hover {
    background-color: #4ecdec;
    color: white;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}


body {
    background-color: #35a122;
    margin: 0;
}

main {
    background-color: white;
}

nav ul {
    position: relative;
    padding: 0;
}

nav li a{
    position: static;
    border: 3px solid rgba(0,0,0,0.5);
    margin: 10px 0px 10px;
    padding: 5px 0px 5px;    
    display: block;
    transition: 0.5s;
    font-size: 1.5em;
    color: black;
}

footer a {
    color: black;
}

nav,
header {
    padding: 0.5em;
    color: black;
}

header {
    background-color: #35a122;
}

header img {
    height: 100px;
    display: inline;
    padding-left: 15px;
}

#siteName {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 0.8em;
}
#siteName h1, #siteName p {
    margin: 5px 0px 5px;
}
header {
    display: flex;
}

img {
    max-width: 100%;
}
button {
    display: block;
    height: 10px;
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border: 3px solid rgba(0,0,0,0.5);
    background-color: #4ecdec;
    color: white;
    transition: 0.5s;
    position: absolute;
    top: 8px;
    right: 15px;
    height: 100px;
    width: 100px;
}

button:hover {
    background-color: #4ecdec;
    color: white;
}
nav ul.hide {
    display: none;
}


/* Table css*/

.zippy {
	display: block;
}

#moreinfo {
	display: block;
	width: 90%;
	margin-top: 8px;
margin:8px auto 10px auto;
	padding: 10px;
}
.danger {
	padding: 5px;
}
#moreinfo {
	display: block;
	width: 90%;
	margin-top: 8px;
margin:8px auto 10px auto;
	padding: 10px;
}
.pinfo {
display: block;
}

.stormheader {
max-width: 850px;
}

#submitbutton {
	background-color: rgb(51, 189, 220);
	color: black;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
}
#thanksforsending {
	width: 50%;
	height: 100px;
	background-color: rgb(51, 189, 220);
	color: black;
	text-align: center;
	font-size: .75rem;
	padding: 30px;
	margin: 10px auto 10px auto;
	line-height: 200%;
	
}


form {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

label {
	padding: 5px;

}

/* Contact information and footer bar style rules */
p.dotted 
{
    border-style: dotted;
    border-radius: 5px;
    border-width: 2px;
}
p.dashed 
{
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;
}


#contactInfo {
    padding: 0.5rem 0 0.5rem 1.5rem;
    text-align: start;
    background-color: #35a122;
    color: black;
    
    
}

#state_map {
    display: block;
    height: 250px;
    width: 40%;
    margin: 0 auto;
    background-color: #35a122;
    padding: 1rem;
}

footer {
    background-color: #35a122;
}

#footerBar {
    padding: .5rem;
    background-color: #7ccc5d;
}


@media screen and (min-width: 885px) {
    main {
        margin: 0 auto;
        max-width: 900px;
    }


    #weatherSummary {
        position: absolute;
        background-color: #5f90b1;
        height: 225px;
        width: 225px;
        opacity: 85%;
        top: 10%;
        left: 5%;
    }

    #weatherSummary h2, #weatherSummary li {
        opacity: 100%;
    }

    #forecast {
        display: block;
    }

    #footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0;
    }
    
    #prestonMap {
        grid-column: 1/2;
        max-width: 500px;
    }
    #contactInfo {
            grid-column: 2/3;
        }

    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav ul li a {
        margin: 0px;
        margin-right: -1px;
        padding: 5px 0px 5px;
    }
    button {
        display: none;
    }
    nav ul.hide {
        display: flex;
    }
}