/* 
color palette
https://coolors.co/41764c-6a994e-9ec346-ffffff
*/

body {
    margin: 0;
    font-family: "Ubuntu", Arial, serif;
}

h1, h2, h3, h4 {
    font-family: "Roboto", Helvetica, sans-serif;
}

main img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


/* Header --------------------------------------------*/
header {
    background-color: #6a994e;
    height: 75px;
}

header img {
    position: relative;
    padding-top: .2rem;
    left: 10%;
    height: 75px;
    width: 100px;
}

header button {
    height: 65px;
    width: 65px;
    font-size: 25pt;
    position: relative;
    float: right;
    top: 10px;
    right: 40px;
    background-color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 0 3px black;

}

header button:active {
    transform: translateY(2px);
    box-shadow: none;

}



/*Navigation -----------------------------------------*/
nav {
    background-color: #9EC346;
    font-family: "Pacifico";
    text-align: center;
    padding: .8rem;
    width: 200px;
    border-radius: 0 2px 0 0;
    box-shadow: 5px 5px 5px black;
    position: absolute;
    right: 0;
}

nav ul {
    margin: 0 1rem;
    padding: 0;
}

nav li {
    list-style: none;
    margin: 1rem;
}

nav a {
    text-decoration: none;
    font-size: 16pt;
    color: black;
    position: static;
    display: block;
    border-radius: 2px;
    height: 45px;
    background-color: white;
}

nav a:active {
    box-shadow: none;
}

nav li:active {
    transform: translateY(2px);
    box-shadow: none;

}
.hide {
    display: none;
}

.active {
    font-weight: bold;
}


/*Main -----------------------------------------------*/
/**********
Contact Page
***********/

iframe {
    display: block;
    margin: 0 auto;
    padding: 1.2rem;
    height: 550px;
    width: 95%;
    max-width: 100%;
}

#message {
    padding: 1rem;
    border: 2px solid #6a994e;
}

input, textarea{
    margin: 1rem;
    display: block;
}

label {
    display: block;
    padding-top: 1rem;
}

form #submit {
    text-decoration: none;
    font-size: 16pt;
    color: black;
    position: static;
    display: block;
    box-shadow: 0 3px black;
    border-radius: 2px;
    height: 45px;
    background-color: #BED784;
}

form #submit:active {
    box-shadow: none;
}

form #submit:active {
    transform: translateY(2px);
    box-shadow: none;

}

#board {
    padding: 1rem;
    padding-bottom: 0;
}

#board ul {
    padding: 0;
    list-style: none;
}

#board li {
    padding: 0.5rem;
}

/*Footer ---------------------------------------------*/
footer {
    background-color: #9EC346;
    color: black;
    padding: 1rem;
}



#contact {
    max-width: 400px;
}

#socialMedia {
    max-width: 300px;
}

#socialMedia a img {
    height: 45px;
    padding: 0.2rem;
}

.align {
    margin: 0 auto;
    max-width: 1000px;
}

footer a {
    color: white;
}

#lastUpdated {
    text-align: left;
}


/*Medium Size Viewport */

@media screen and (min-width: 700px) {
        /*Footer ----*/

        .align {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
        }
        
        #contact {
            justify-self: end;
            margin-right: 1rem;
        }

        #lastUpdated {
            grid-column: 1/3;
        }
    
}


/* Larger Size Viewport */

@media screen and (min-width: 1400px){
    .hide {
        display: block;
    }

    header {
        height: 50px;
    }

    header img {
        height: 91px;
    }

    header button {
        display: none;
    }

    nav {
        width: 100%;
        height: 25px;
        display: block;
        box-shadow: none;
        position: static;
    }
    
    nav ul {
        display: flex;
        justify-content: end;
    }

    nav li {
        margin: 0.1rem 1rem 0 1rem;
    }

    nav ul a {
        background-color: #9EC346;
        display: inline;
        border: none;
        box-shadow: none;
        font-size: 14pt;
    }

    nav ul li a:hover {
        color: white;
    }

    main {
        margin: 0 auto;
        max-width: 1000px;
    }
}
