#font1 {
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
}

#font2 {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

nav li {
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
}

p, li{
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
p{
    padding-left: 80px;
}

h1,h2,h3{
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
}

nav,
footer,
nav li a,
nav li {
    background-color: #7ccc5d;
    color: black;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}

nav a:hover {
    background-color: #4ecdec;
    color: white;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}



body {
    background-color: #35a122;
    margin: 0;
}

main {
    background-color: #35a122;
}

nav ul {
    position: relative;
    padding: 0;
}

nav li a{
    position: static;
    border: 3px solid rgba(0,0,0,0.5);
    margin: 10px 0px 10px;
    padding: 5px 0px 5px;    
    display: block;
    transition: 0.5s;
    font-size: 1.5em;
    color: black;
}

footer a {
    color: black;
}

nav,
header {
    padding: 0.5em;
    color: black;
}

header {
    background-color: #35a122;
}

header img {
    height: 100px;
    display: inline;
    padding-left: 15px;
}

#siteName {
    padding-top: 15px;
    padding-left: 15px;
}
#siteName h1, #siteName p {
    margin: 5px 0px 5px;
}

header {
    display: flex;
}

button {
    display: block;
    height: 10px;
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border: 3px solid rgba(0,0,0,0.5);
    background-color: #4ecdec;
    color: white;
    transition: 0.5s;
    position: absolute;
    top: 8px;
    right: 15px;
    height: 100px;
    width: 100px;
}

button:hover {
    background-color: #4ecdec;
    color: white;
}
nav ul.hide {
    display: none;
}

#pageHeader {
    padding: 1rem;
}
footer {
    background-color: #7ccc5d;
    padding: 2rem;
}

h1 {
    text-align: center;
}

/* week 9 town info*/

.town_info_card div .town_motto {
    margin: 0;
    position: relative;
    font-size: 10pt;
    text-align: center;
    font-style: italic;
}

.town_info_card h2 {
    text-align: center;
    font-size: 18pt;
    margin-bottom: 0;
    padding-top: 1rem;
}

.town_info_card div {
    padding: 0 1rem;
}

.town_info_card p {
    font-size: 12pt;
}

.town_info_card {
    display: block;
    height: auto;
    width: 100%;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin: 1rem auto;
    background-color: #4ecdec;
    text-align: left;
    padding-bottom: 1rem;
}

.town_info_card img {
    max-width: 100%;
    display: block;
    margin: 1rem auto;
    box-shadow: 3px 3px 3px black;
    max-height: 170px;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 32.5rem) {
    .town_info_card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #info section:nth-child(even) img {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    #info section:nth-child(even) div {
        grid-column: 2/3;
    }
}

@media only screen and (min-width: 64rem) {
    main {
        margin: 0 auto;
        max-width: 900px;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav ul li a {
        margin: 0px;
        margin-right: -1px;
        padding: 5px 0px 5px;
    }
    button {
        display: none;
    }
    nav ul.hide {
        display: flex;
    }

    .town_info_card {
        display: block;
        max-width: 100%;
    }

    #info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
}